
<div class="container" id="myCarousel" style="margin-top:80px">
		<!-- 轮播图容器 -->
		<div id="carousel-example-generic" class="carousel slide">
			<!-- 轮播图上的圆圈链接 -->
			<ol class="carousel-indicators radiou">
				<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
				<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				<li data-target="#carousel-example-generic" data-slide-to="2"></li>
                <li data-target="#carousel-example-generic" data-slide-to="3"></li>
			</ol>
			<!-- 轮播图具体内容 -->
			<div class="carousel-inner">
				<div class="item active">
					<img src="/static/images/fengmian1.jpeg" style="background-size:cover; height: 300px; width:1200px">
					<!-- 图上文字 -->
					<div class="carousel-caption">
						<h4>美丽俏佳人</h4>
						<p>美丽俏佳人</p>
					</div>
				</div>
				<div class="item">
					<img src="/static/images/shanhaijing.jpeg" style="background-size:cover; height: 300px; width:1200px">
					<!-- 图上文字 -->
					<div class="carousel-caption">
						<h4>山海经</h4>
						<p>山海经 密码</p>
					</div>
				</div>
				<div class="item">
                    <img src="/static/images/hudie.jpeg" style="background-size:cover; height: 300px; width:1200px">
					<!-- 图上文字 -->
					<div class="carousel-caption">
						<h4>新鸳鸯蝴蝶梦</h4>
						<p>新鸳鸯蝴蝶梦 名著</p>
					</div>
				</div>
                <div class="item">
                    <img src="/static/images/liangcheng.jpeg" style="background-size:cover; height: 300px; width:1200px">
					<!-- 图上文字 -->
					<div class="carousel-caption">
						<h4>凉城以北</h4>
						<p>凉城以北</p>
					</div>
				</div>
			</div>
			<!-- 轮播图上的向前一图切换链接 -->
			<a href="#carousel-example-generic" data-slide="prev" class="left carousel-control">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<!-- 轮播图上的向后一图切换链接 -->
			<a href="#carousel-example-generic" data-slide="next" class="right carousel-control">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
